body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.emoji {
  font-size: 150%;
}
.room-link {
  font-size: 110%;
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
  justify-content: center;
}
.room-link > * {
  margin: 5px;
}
@media screen and (max-width: 800px) {
  .room-link > .room-name {
    order: 1;
  }
}
#vert {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
#vert > #room { flex-grow: 1 }
#room {
  display: flex;
/*
  background-image: url('floor.jpg');
*/
  background-size: 500px;
  background-repeat: repeat;
  padding: 5px;
}
#room-space {
  display: flex;
  flex-direction: column;
  max-width: 250px;
}
#room-space #table {
  flex-grow: 1;
  background-size: 400%;
}
.room-chess-lair #room-space #table {
  flex-grow: 0;
  height: 400px;
}
#room-space #table .thing {
  cursor: grab;
  font-size: 39px;
}
#room-space #table .thing.chesspiece {
  color: grey;
}
#room-space #table .checkerboard .thing.chesspiece {
  font-size: 1px;
  stroke-width: 0.05px;
}
#room-space #creator {
  margin-top: 5px;
}
#room-space #participants {
  background-color: hsla(0, 0%, 100%, 40%);
}
#room-space .icon {
  font-size: 200%;
}
#room > #room-jitsi { flex-grow: 1 }
#roomlist {
    display: flex;
}
#roomlist > * {
    flex-grow: 1;
    margin: 5px;
    text-align: center;
}
