body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#vert {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
#vert #room { flex-grow: 1 }
#roomlist {
    display: flex;
}
#roomlist > * {
    flex-grow: 1;
    margin: 5px;
    text-align: center;
}
